label {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 2px;
    display: inline-block;
    width: 90px;
}

.container {
    width: 80vw;
    height: 70vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}